<div th:fragment="footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container">
            <div class="text-center">
                <div class="social-icons mb-3">
                    <a href="https://www.instagram.com/ryr_joyerias?igsh=cDh1aGZ3bDhvMWt0"
                       target="_blank"
                       class="text-decoration-none mx-2">
                        <i class="bi bi-instagram fs-4"></i>
                    </a>
                    <a href="https://www.tiktok.com/@ryrjoyeria?_t=ZS-8wSvHIXMbEm&_r=1"
                       target="_blank"
                       class="text-decoration-none mx-2">
                        <i class="bi bi-tiktok fs-4"></i>
                    </a>
                </div>
                <span class="text-muted">© 2025 RyR Joyería</span>
            </div>
        </div>
    </footer>

</div>
